*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.ask{
    text-align: center;
   

}

.login-page{
    width: 100%;
    height: 100%;
    background-position: left;
    background-size: cover;
    position: absolute;
    background-image: url("../images/bms-image.jpg");
    
    background-color: whitesmoke;
    background-position: left;

}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
    
    
}

.button-box{
    width: 250px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    
}

.toggle-button{
    padding: 10px 30px ;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline:none;
    position: relative;
    background-position: center;
}


#button{
    top: 0;
    left: 0px;
    position: absolute;
    width: 140px;
    height: 100%;
    background: linear-gradient(to right,#2323ec,#ffffff);
    border-radius: 30px;
    transition: .5s;

}

.register-data{
    left: 20px;
    top: 75px;
    position: absolute;
    width: 300px;
    transition: .5s;

}

.input-data{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    border-radius: 0px;

}

.submit-button{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #0000ff,#ffffff);
    border: 0;
    outline: none;
    border-radius: 30px;

}

.check-box{
    margin: 30px 10px 30px 0;

}


span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;

}

.login-data{
    top: 75px;
    position: absolute;
    width: 280px;
    transition: .5s;

}

#register{
    left: -20px;

}
#login{
    left: 400px;
}