*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.ask{
    text-align: center;
    font-size: 35px;
    
    
}
.form-box{
    width: 330px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
    
    
}
.button-box{
    width: relative;
    margin: 30px auto;
    position: relative;
    box-sizing: content-box;
    border-radius: 10px;
    font-size: 25px;
}


.register-data{
    left: 20px;
    top: 75px;
    position: absolute;
    width: 300px;
    transition: .5s;

}
.register-page{
    width: 100%;
    height: 100%;
    background-position: left;
    background-size: cover;
    position: absolute;
    background-color: lightblue;
    background-position: left;

}
.input-data{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    border-radius: 0px;

}
.submit-button{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: blue;
    border: 0;
    outline: none;
    border-radius: 30px;

}

.check-box{
    margin: 30px 10px 30px 0;
    text-align: left;
    position: left;

}


span{
    color: #777;
    font-size: 12px;
    bottom: 68px;


}

.regi{
    text-align: center;
}




